#contact {
  font-size: $fz-lg;
  padding-bottom: 2rem;
  a {
    color: white;
    text-decoration: none;
  }

  ul {
    padding: 0;
    @include flex(center);

    @media (max-width: $md-width) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  li {
    @include flex(center);
    list-style: none;
  }
  svg {
    width: $fz-lg;
    margin: 0.5rem;
  }
}
