.hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: $green;
  font-family: $font-mono;
  font-size: clamp($fz-sm, 5vw, $fz-md);
  font-weight: 400;
}

h2 {
  color: $text-secondary;
}

h3 {
  margin-top: 10px;
  line-height: 0.9;
}

.big-heading {
  margin: 0px;
  font-size: clamp(30px, 10vw, 80px);
}
p {
  margin: 20px 0 0;
  max-width: 540px;
}

.email-link {
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: $border-radius;
  padding: 1.25rem 1.75rem;
  font-size: $fz-sm;
  font-family: $font-mono;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-top: 30px;
}
