h2 {
  font-size: clamp(24px, 5vw, var(--fz-heading));
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  position: relative;
  margin-top: 50px;
}

.project-inner {
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 100%;
  padding: 2rem 1.75rem;
  background-color: var(--light-blue);
}

.proyect-header {
  margin-bottom: 20px;
  color: white;
}

.folder {
  color: var(--green);
}

.folder svg {
  height: 30px;
  width: 30px;
}

.project-links {
  display: flex;
  align-items: center;
  margin-right: -10px;
}

.project-links svg {
  height: 25px;
  width: 25px;
  color: var(--gray);
}

.project-title {
  margin: 0 0 10px;
  color: var(--lightest-gray);
  font-size: var(--fz-xxl);
}

.project-title a {
  color: var(--lightest-gray);
}

.project-description {
  color: var(--light-gray);
  font-size: 17px;
}

.project-tech-list {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0;
  margin: 20px 0 0 0;
}

.project-tech-list  li{
  margin-right: 1.3rem;
}

