header.nav {
  padding: 0 50px;
  display: flex;
  position: fixed;
  width: 100%;
}

header.nav > nav {
  height: 100px;
  width: 100%;
}

header.nav  ol {
  display: flex;
  list-style: none;
}

header.nav  ol > li {
  padding: 1rem;
}

a {
  text-decoration: none;
}

header.nav  svg {
  background-color: var(--green);
  border-radius: 8px;
}
